<div class="modal-header">
  <h3>
    <i class="glyphicon" ng-class="{'Confirm':'glyphicon-question-sign','Alert':'glyphicon-alert', 'Error':'glyphicon-remove-sign'}[type]"></i>
    {{ type | translate }}
  </h3>
</div><!-- modal-header -->
<div class="modal-body" translate>{{ msg }}</div>
<div class="modal-footer">
  <button class="btn" ng-if="other"
  ng-click="cb()">
    {{ other | translate }}
  </button>
  <button class="btn btn-primary"
  ng-click="close()">
    {{ closeTxt | translate }}
  </button>
</div><!-- model-footer -->
