<div class="modal-header">
  <h3>
    {{ 'Download new menus' | translate }}
    <i class="glyphicon glyphicon-download"></i>
  </h3>
</div><!-- modal-header -->
<div class="modal-body">
  <label>
    {{ 'Type' | translate }}
    <div class="btn-group">
      <label type="button" class="btn btn-sm btn-success" btn-checkbox
      ng-model="type[c]" ng-repeat="c in typeValue">
        {{ c | translate }}
      </label>
    </div><!-- btn-group -->
  </label>
  <table class="table table-bordered table-hover table-condensed">
    <thead>
      <tr>
        <th class="cm-flag"></th>
        <th translate>Name</th>
        <th translate>Type</th>
        <th translate>URL</th>
        <th>
          <span translate>Count</span> 
          <i class="glyphicon glyphicon-chevron-down"></i>
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="u in menus" ng-class="{'active':u.s}">
        <td><i class="{{ u.L }}"></i></td>
        <td>{{ u.C | translate }}</td>
        <td>{{ u.T | translate }}</td>
        <td><input class="form-control" type="url"
        ng-model="u.U"
        ng-if="check(u.U)"
        readonly/></td>
        <td>{{ u.V }}</td>
        <td>
          <label class="btn btn-default"
          ng-model="u.s" translate btn-checkbox>Select</label>
        </td>
      </tr>
    </tbody>
  </table>
</div><!-- modal-body -->
<div class="modal-footer">
  <label ng-click="down()" class="btn btn-primary" ng-disabled="num == 0">
    <i class="glyphicon glyphicon-download"></i>
    {{ 'Download' | translate }} {{ num }}
  </label>
  <label ng-click="close()" class="btn btn-warning" translate>
    Close
  </label>
</div><!-- model-footer -->
