<div class="modal-header">
  <h3>
    {{ 'Download new menus' | translate }}
    <i class="glyphicon glyphicon-download"></i>
  </h3>
</div><!-- modal-header -->
<div class="modal-body">
  <div class="btn-group">
    <button type="button" class="btn btn-sm btn-success" btn-checkbox
    ng-model="type[c]" ng-repeat="c in typeValue">
      {{ c | translate }}
    </button>
  </div><!-- btn-group -->
  <table class="table table-bordered table-hover table-condensed">
    <thead>
      <tr>
        <th translate>Name</th>
        <th translate>Type</th>
        <th translate>URL</th>
        <th>
          <span translate>Count</span> 
          <i class="glyphicon glyphicon-chevron-down"></i>
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="u in menus" ng-class="{'active':u.s}">
        <td><i class="{{ u.L }}"></i>{{ u.C | translate }}</td>
        <td>{{ u.T | translate }}</td>
        <td><input class="form-control" type="url"
        ng-model="u.U"
        ng-if="check(u.U)"
        readonly/></td>
        <td>{{ u.V }}</td>
        <td>
          <button class="btn btn-default"
          ng-model="u.s" translate btn-checkbox>Select</button>
        </td>
      </tr>
    </tbody>
  </table>
</div><!-- modal-body -->
<div class="modal-footer">
  <button ng-click="down()" class="btn btn-primary" ng-disabled="num == 0">
    <i class="glyphicon glyphicon-download"></i>
    {{ 'Download' | translate }} {{ num }}
  </button>
  <button ng-click="close()" class="btn" translate>
    Close
  </button>
</div><!-- model-footer -->
