<!-- 共享网址 -->
<div class="modal-header">
  <h3>
    {{ 'Share' | translate }}
    <i class="glyphicon glyphicon-share"></i>
  </h3>
</div><!-- modal-header -->
<div class="modal-body">
  <form name="formPut" class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-2 control-label" for="urlName" translate>
        Name
      </label>
      <div class="col-sm-8">
        <input id="urlName" maxlength="200" type="text" class="form-control"
        required 
        ng-model="name" ng-Maxlength="200" ng-Minlength="1"/>
      </div><!-- sm-8-->
    </div><!-- form-group -->
    <div class="form-group">
      <label class="col-sm-2 control-label" for="urlUrl" translate>
        URL
      </label>
      <div class="col-sm-8">
        <input id="urlUrl" type="url" class="form-control" maxlength="250"
        required
        ng-model="url" ng-Maxlength="250" ng-Minlength="7"/>
      </div><!-- sm-8-->
    </div><!-- form-group -->
    <div class="form-group">
      <label class="col-sm-2 control-label" translate>
        Language Selection
      </label>
      <div class="col-sm-8">
        <div class="btn-group">
          <button class="btn btn-default"
          ng-model="locale" btn-radio="'all'" translate>
            Multilingual
          </button>
          <button class="btn btn-default"
          ng-model="locale" btn-radio="'en'">
            <i class="en"></i>
          </button>
          <button class="btn btn-default"
          ng-model="locale" btn-radio="'zh_CN'">
            <i class="zh_CN"></i>
          </button>
          <button class="btn btn-default"
          ng-model="locale" btn-radio="'zh_TW'">
            <i class="zh_TW"></i>
          </button>
          <button class="btn btn-default"
          ng-model="locale" btn-radio="'ru'">
            <i class="ru"></i>
          </button>
        </div><!-- btn-group -->
      </div><!-- sm-8-->
    </div><!-- form-group -->
    <div class="form-group">
      <label class="col-sm-2 control-label" for="urlTitle" translate>
        Summary
      </label>
      <div class="col-sm-8">
        <input id="urlTitle" type="text" maxlength="250" class="form-control"
        required
        ng-model="title" ng-Maxlength="250"/>
      </div><!-- sm-8 -->
    </div><!-- form-group -->
    <div class="form-group">
      <label class="col-sm-2 control-label" for="nick" translate>
        Author
      </label>
      <div class="col-sm-8">
        <input id="nick" type="text" class="form-control" required
        ng-model="nick"/>
      </div><!-- sm-8 -->
    </div><!-- form-group -->
  </form>
</div><!-- modal-body -->
<div class="modal-footer">
  <button class="btn btn-primary"
  ng-click="put()">
    <i class="glyphicon glyphicon-share"></i>
    {{ 'Share' | translate }}
  </button>
  <button class="btn btn-warning"
  ng-click="close()" translate>
    Close
  </button>
</div><!-- model-footer -->
