<div class="page-header">
  <h2>
    <i class="glyphicon glyphicon-cog"></i>
    <span translate>Settings</span>
    <small translate>Advanced settings</small>
  </h2>
</div><!-- page-header  -->
<form name="f_setting" class="form-horizontal" role="form">
  <div class="form-group">
    <label class="col-sm-2 control-label" for="qr_size">
      <span translate>Language Selection</span>
    </label>
    <div class="btn-group col-sm-10">
      <label class="btn btn-default" ng-model="$parent.locale" btn-radio="'en'">
        <i class="en"></i>
      </label>
      <label class="btn btn-default" ng-model="$parent.locale" btn-radio="'zh_CN'">
        <i class="zh_CN"></i>
      </label>
      <label class="btn btn-default" ng-model="$parent.locale" btn-radio="'zh_TW'">
        <i class="zh_TW"></i>
      </label>
      <label class="btn btn-default" ng-model="$parent.locale" btn-radio="'ru'">
        <i class="ru"></i>
      </label>
    </div><!-- btn-group -->
  </div><!-- form-group -->
  <div class="form-group">
    <label class="col-sm-2 control-label" for="qr_size" translate>QR size</label>
    <div class="col-sm-2">
      <input type="text" id="qr_size" value="250"
      class="form-control"
      ng-model="qr_size" integer/>
    </div><!-- col-sm-10-->
  </div><!-- form-group -->
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <input type="checkbox" id="i_isEdit" ng-model="isEdit"/>
        <label class="control-label" for="i_isEdit" translate>
          Show Edit button
        </label>
      </div><!-- checkbox -->
    </div>
  </div><!-- form-group -->
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <input type="checkbox" id="i_isFlag" ng-model="isFlag"/>
        <label class="control-label" for="i_isFlag" translate>
          Language icon
        </label>
      </div><!-- checkbox -->
    </div>
  </div><!-- form-group -->
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <input type="checkbox" id="i_back" ng-model="back"/>
        <label class="control-label" for="i_back" translate>
          Open in the background by default
        </label>
      </div><!-- checkbox -->
    </div><!-- sm-10 -->
  </div><!-- form-group -->
  <div class="form-group">
    <label class="col-sm-2 control-label" translate>
      Select Short URL Generator Website
    </label>
    <div class="btn-group col-sm-10">
      <label class="btn btn-success"
      ng-model="shorten" btn-radio="'googl'">
        Goo.gl
      </label>
      <label class="btn btn-success"
      ng-model="shorten" btn-radio="'sinat'">
        t.cn
      </label>
      <label class="btn btn-success"
      ng-model="shorten" btn-radio="'urlcn'">
        url.cn
      </label>
      <label class="btn btn-success"
      ng-model="shorten" btn-radio="'dwz'">
        dwz.cn
      </label>
    </div><!-- btn-group -->
  </div><!-- form-group -->
  <div class="form-group">
    <div class="col-sm-10 col-sm-offset-2">
      <div class="checkbox">
        <input type="checkbox" id="i_newPage" ng-model="newPage"/>
        <label class="control-label" for="i_newPage" translate>
          Page exists not open a new page
        </label>
      </div><!-- checkbox -->
    </div><!-- sm-10 -->
  </div><!-- form-group -->
  <div class="form-group">
    <div class="col-sm-10 col-sm-offset-2">
      <div class="checkbox">
        <input type="checkbox" id="i_analytics" ng-model="analytics"/>
        <label class="control-label" for="i_analytics" translate>
          Enable Google Analytics
        </label>
      </div><!-- checkbox -->
    </div><!-- sm-10 -->
  </div><!-- form-group -->
  <div class="form-group">
    <label class="col-sm-2 control-label" for="qr_size">
      <span translate>Super Drag</span>
    </label>
    <div class="col-sm-10">
      <div class="row">
        <label class="col-sm-1 control-label" translate>Top Left</label>
        <div class="col-sm-2">
          <select class="form-control" ng-model="lt1">
            <option value="1" translate>Front</option>
            <option value="2" translate>Background</option>
          </select>
        </div><!-- 2 -->
        <div class="col-sm-2">
          <select class="form-control" ng-model="lt2">
            <option value="1" translate>Left</option>
            <option value="2" translate>Right</option>
          </select>
        </div><!-- 2 -->
        <label class="col-sm-offset-2 col-sm-1 control-label" translate>Top Right</label>
        <div class="col-sm-2">
          <select class="form-control" ng-model="rt1">
            <option value="1" translate>Front</option>
            <option value="2" translate>Background</option>
          </select>
        </div><!-- 2 -->
        <div class="col-sm-2">
          <select class="form-control" ng-model="rt2">
            <option value="1" translate>Left</option>
            <option value="2" translate>Right</option>
          </select>
        </div><!-- 2 -->
      </div><!-- row -->
      <div class="row">
        <label class="col-sm-offset-6 control-label" translate>TARGET</label>
      </div><!-- row -->
      <div class="row">
        <label class="col-sm-1 control-label" translate>Bottom Left</label>
        <div class="col-sm-2">
          <select class="form-control" ng-model="lb1">
            <option value="1" translate>Front</option>
            <option value="2" translate>Background</option>
          </select>
        </div><!-- 2 -->
        <div class="col-sm-2">
          <select class="form-control" ng-model="lb2">
            <option value="1" translate>Left</option>
            <option value="2" translate>Right</option>
          </select>
        </div><!-- 2 -->
        <label class="col-sm-offset-2 col-sm-1 control-label" translate>Bottom Right</label>
        <div class="col-sm-2">
          <select class="form-control" ng-model="rb1">
            <option value="1" translate>Front</option>
            <option value="2" translate>Background</option>
          </select>
        </div><!-- 2 -->
        <div class="col-sm-2">
          <select class="form-control" ng-model="rb2">
            <option value="1" translate>Left</option>
            <option value="2" translate>Right</option>
          </select>
        </div><!-- 2 -->
      </div><!-- row -->
    </div><!-- btn-group -->
  </div><!-- form-group -->
  <div class="alert alert-success" translate>
    Notice1
  </div>
</form>
<div class="page-header">
  <h2>
    <i class="glyphicon glyphicon-floppy-disk"></i>
    <span translate>Storage</span>
    <small translate>Show settings</small>
  </h2>
</div><!-- page-header  -->
  <div class="form-group">
    <div class="btn-group col-sm-10">
<label class="btn btn-info" ng-click="read()">
  <i class="glyphicon glyphicon-cloud-upload"></i>
  <span translate>Read Settings</span>
</label>
<label class="btn btn-warning" ng-click="load2()" ng-disabled="!bakstr">
  <i class="glyphicon glyphicon-cloud-download"></i>
  <span translate>Load Settings</span>
</label>
    </div><!-- btn-group -->
<textarea class="form-control" ng-model="bakstr"></textarea>
  </div><!-- form-group -->
<div class="page-header">
  <h2>
    <i class="glyphicon glyphicon-cloud"></i>
    <span translate>Cloud Storage</span>
    <small translate>Cloud Storage title</small>
  </h2>
</div><!-- page-header  -->
<div class="alert" translate>phrase help</div>
<form name="bak" class="form-horizontal">
  <div class="form-group">
    <label class="col-sm-2 control-label" for="i_phrase" translate>
      Verify phrase
    </label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="i_phrase" maxlength="30"
      required title="{{ 'Verify phrase 8-30' | translate }}"
      ng-Maxlength="30" ng-model="phrase" ng-Minlength="8"/>
    </div><!-- sm-10 -->
  </div><!-- form-group -->
  <div class="form-group">
    <div class="col-sm-offset-2 btn-group col-sm-10">
      <label class="btn btn-info" ng-click="save()" ng-disabled="!phrase">
        <i class="glyphicon glyphicon-cloud-upload"></i>
        <span translate>Save Settings</span>
      </label>
      <label class="btn btn-warning" ng-click="load()" ng-disabled="!phrase">
        <i class="glyphicon glyphicon-cloud-download"></i>
        <span translate>Load Settings</span>
      </label>
    </div><!-- btn-group -->
  </div><!-- form-group -->
</form>
