<div class="container">
  <header id="overview" class="hero-unit">
    <h1>
      <img align="bottom" src="img/48.png"/>
      <span id="name">右键搜</span>
      <small>{{ ver }}</small>
    </h1>
    <span id="i_summary">做最优秀的右键菜单扩展程序</span>
  </header>
  <div class="page-header">
    <h3 id="i_info">介绍</h3>
  </div>
  <div id="description" class="well well-large"></div>
  <div class="page-header">
    <h3 id="i_note">注意事项</h3>
  </div>
  <ol>
    <li><span id="li1"></span></li>
    <li><span id="li2"></span></li>
    <li><span id="li3"></span></li>
    <li><span id="li4"></span></li>
  </ol>
</div><!-- container -->
