<div id="overview" class="jumbotron">
  <h1>
    <img align="bottom" src="img/48.png"/>
    <span id="name">右键搜</span>
    <small>{{ ver }}</small>
  </h1>
  <span id="i_summary">做最优秀的右键菜单扩展程序</span>
</div><!-- jumbotron -->
<div class="page-header">
  <h3>
    <span id="i_info">介绍</span>
    <i class="glyphicon glyphicon-info-sign"></i>
  </h3>
</div>
<div id="description" class="well well-large"></div>
<div class="page-header">
  <h3>
    <span id="i_note">注意事项</span>
    <i class="glyphicon glyphicon-warning-sign"></i>
  </h3>
</div>
<ol>
  <li><span id="li1"></span></li>
  <li><span id="li2"></span></li>
  <li><span id="li3"></span></li>
  <li><span id="li4"></span></li>
</ol>
