<div class="row">
  <div class="col-sm-4 bs-docs-sidebar">
    <ul class="nav nav-list bs-docs-sidenav"
    ng-class="{affix:select.length < size}">
        <li ng-repeat="s in select">
          <a>
            <button class="close" aria-hidden="true"
            ng-click="unSelect(s)">
              &times;
            </button>
            {{ s.n }}
            <br/>
            <div class="btn-group">
              <button class="btn btn-sm btn-success incognito"
              title="{{ getI18n('i_up') }}"
              ng-click="up($index)"
              ng-class="{disabled:$index == 0}">
                <i class="glyphicon glyphicon-chevron-up"></i>
              </button>
              <button class="btn btn-sm btn-success incognito"
              title="{{ getI18n('i_down') }}"
              ng-click="down($index)"
              ng-class="{disabled:$index == select.length - 1}">
                <i class="glyphicon glyphicon-chevron-down"></i>
              </button>
              <button class="btn btn-sm btn-info back" title=""
              ng-model="s.back" btn-checkbox>
                {{ i_back }}
              </button>
              <button class="btn btn-sm btn-info incognito"
              title="{{ getI18n('t_private') }}"
              ng-model="s.incognito" btn-checkbox>
                {{ i_private }}
              </button>
            </div><!-- btn-group -->
          </a>
        </li>
      </ul>
    </div><!-- span3 -->
    <div class="col-sm-8">          
      <div class="page-header">
        <h2>
          <i class="glyphicon glyphicon-list" ng-show="type == 'men'"></i>
          <i class="glyphicon glyphicon-search" ng-show="type == 'txt'"></i>
          <i class="glyphicon glyphicon-picture" ng-show="type == 'pic'"></i>
          <i class="glyphicon glyphicon-link" ng-show="type == 'lin'"></i>
          <span id="i_t">右键菜单</span>
          <small id="i_s">右键空白页面显示的菜单</small>
        </h2>
      </div><!-- page-header -->
      <h3 id="i_language">语言</h3>
      <div class="btn-group">
        <button class="btn btn-default" ng-model="en" btn-checkbox>
          <i class="en"></i>
        </button>
        <button class="btn btn-default" ng-model="zh_CN" btn-checkbox>
          <i class="zh_CN"></i>
        </button>
        <button class="btn btn-default" ng-model="zh_TW" btn-checkbox>
          <i class="zh_TW"></i>
        </button>
        <button class="btn btn-default" ng-model="ru" btn-checkbox>
          <i class="ru"></i>
        </button>
      </div><!-- btn-group -->
      <h3 id="i_select">选择</h3>
      <a class="btn btn-primary btn-lg"
      href="http://cm.xuender.me/?type={{ type }}&lg={{ locale }}">
        <i class="glyphicon glyphicon-transfer"></i>
        <span id="i_find">获取右键菜单</span>
      </a>
      <div class="row" ng-repeat="g in groups">
        <h4>{{ g.label }}</h4>
        <table class="table table-bordered table-hover table-condensed">
          <tbody>
            <tr ng-hide="hide(menu)" ng-repeat="menu in g.items">
              <td>
                <button class="pull-right btn btn-xs btn-default"
                ng-class="{true:'hide', false:''}[isHideIcon(menu)]"
                ng-click="update(menu)">
                  <i class="glyphicon glyphicon-edit"></i>
                </button>
                <label>
                  <input type="checkbox"
                  ng-model="menu.select" ng-change="change(menu)"/>
                  <i ng-class="{true:menu.l, false:''}[isFlag]"></i>
                  {{menu.n}}
                </label>
              </td>
            </tr>
          </tbody>
        </table>
      </div><!-- row -->
      <div class="page-header">
        <h2>
          <i class="glyphicon glyphicon-pencil"></i>
          <span id="i_custom">自定义</span>
          <small id="i_custom_title">用户自定义功能菜单</small>
        </h2>
      </div><!-- page-header -->
      <form name="f_custom_old">
        <div class="form-group" ng-repeat="c in custom">
          <div class="col-sm-3">
            <input maxlength="200" type="text" class="form-control" required
            ng-model="c.c" ng-Maxlength="200" ng-Minlength="1" menucode/>
          </div><!-- col-sm-3 -->
          <div class="input-group col-sm-6">
            <input type="url" class="col-sm-6 form-control" required
            ng-model="c.u"/>
            <div class="input-group-btn">
              <button class="btn btn-danger" title="{{ getI18n('i_del') }}"
              ng-click="delCustom(c)">
                <i class="glyphicon glyphicon-trash"></i>
              </button>
              <button class="btn btn-warning" title="{{ getI18n('i_share') }}"
              ng-click="putDialog(c)">
                <i class="glyphicon glyphicon-share"></i>
              </button>
            </div><!-- input-group-btn -->
          </div><!-- input-group -->
        </div><!-- ng-repeat -->
      </form>
      <form name="f_custom">
        <div class="form-group">
          <div class="col-sm-3">
            <input id="m_title" name="m_title" maxlength="200" type="text"
            class="form-control" required
            enter ng-model="newCustom.c" ng-Maxlength="200" ng-Minlength="1"
            menucode/>
          </div><!-- col-sm-3 -->
          <div class="input-group col-sm-6">
            <input id="i_url" type="url" required class="form-control" 
            ng-model="newCustom.u" enter="addCustom(newCustom)"/>
            <div class="input-group-btn">
              <button class="btn btn-primary" title="{{ getI18n('i_add') }}"
              ng-click="addCustom(newCustom)">
                <i class="glyphicon glyphicon-plus"></i>
              </button>
            </div><!-- input-group-btn -->
          </div><!-- input-group -->
        </div><!-- form-group -->
        <div class="form-group">
          <!-- ng-show="f_custom.$error.menucode || f_custom_old.$error.menucode" -->
          <span class="ng-hide alert alert-error i_menucode col-sm-3" 
          ng-show="f_custom.$error.menucode || f_custom_old.$error.menucode">
            名称重复，请修改。
          </span><!-- alert -->
          <span id="i_l" class="col-sm-9">
            自定义网址中使用%s表示当前页面网址，例如: https://twitter.com/intent/tweet?url=%si
          </span>
        </div><!-- form-group -->
      </form>
      <div class="page-header col-sm-12">
        <h2>
          <i class="glyphicon glyphicon-th"></i>
          <span id="i_group">组合</span>
          <small id="i_group_title">多个功能组合一起运行</small>
        </h2>
      </div><!-- page-header -->
      <form name="f_group_old">
        <div class="form-group" ng-repeat="c in group">
          <div class="col-sm-3">
            <input type="text" class="form-control" maxlength="200" required 
            ng-model="c.c" ng-Maxlength="200" ng-Minlength="1" menucode/>
          </div><!-- col-sm-3 -->
          <div class="input-group col-sm-6">
            <select class="form-control" multiple="multiple"
            ng-model="c.g" chosen ng-options="m.n group by m.t for m in menus">
            </select>
            <div class="input-group-btn">
              <button class="btn btn-danger" title="{{ getI18n('i_del') }}"
              ng-click="delGroup(c)">
                <i class="glyphicon glyphicon-trash"></i>
              </button>
            </div><!-- input-group-btn -->
          </div><!-- input-group -->
        </div><!-- form-group -->
      </form>
      <form name="f_group" class="line">
        <div class="form-group">
          <div class="col-sm-3">
            <input id="g_title" type="text" class="form-control" required
            maxlength="200" 
            enter ng-model="newGroup.c" ng-Maxlength="200" ng-Minlength="1"
            menucode>
          </div><!-- col-sm-3 -->
          <div class="input-group col-sm-6">
            <select id="g_select" class="form-control" multiple="multiple"
            ng-model="newGroup.g" ng-options="m.n group by m.t for m in menus" 
            chosen></select>
            <div class="input-group-btn">
              <button class="btn btn-primary" title="{{ getI18n('i_add') }}"
              ng-click="addGroup(newGroup)">
                <i class="glyphicon glyphicon-plus"></i>
              </button>
            </div><!-- input-group-btn -->
          </div><!-- input-group -->
        </div><!-- form-group -->
        <div class="ng-hide alert alert-error i_menucode form-group"
        ng-show="f_group.$error.menucode || f_group_old.$error.menucode">
        名称重复，请修改。
        </div><!-- alert -->
      </form>
    </div><!-- span9 -->
  </div><!-- span9 -->
</div><!-- row -->
