<!DOCTYPE html>
<html ng-app="popup" data-ng-csp>
  <head>
    <meta charset="utf-8"/>
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/popup.min.css" rel="stylesheet"/>
    <link href="css/font-awesome.min.css" rel="stylesheet"/>

    <script src="js/jquery.min.js" defer></script>
    <script src="js/angular.min.js" defer></script>
    <script src="js/bootstrap.min.js" defer></script>
    <script src="js/js-utils.min.js" defer></script>
    <script src="js/chrome.min.js" defer></script>
    <script src="js/components.min.js" defer></script>
    <script src="js/popup.min.js" defer></script>
    <title>行为菜单</title>
  </head>
  <body ng-controller="PopupCtrl">
    <div class="controls">
      <input type="text" class="search-query" ng-model="text" id="searchText" enter="defaultSearch()"/>
      <button target="_blank" class="btn btn-mini pull-right" ng-click="search('i_title')">
        <i class="fa fa-wrench"></i>
      </button>
    </div><!-- controls -->
    <button ng-repeat="b in btns" ng-click="search(b.id)" ng-class="{true:'btn-primary'}[$first]" class="btn btn-mini">{{ b.name }}</button>
  </body>
</html>

