<!DOCTYPE html>
<html ng-app="popup" data-ng-csp>
  <head>
    <meta charset="utf-8"/>
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/popup.min.css" rel="stylesheet"/>
    <script src="js/jquery.min.js" defer></script>
    <script src="js/angular.min.js" defer></script>
    <script src="js/bootstrap.min.js" defer></script>
    <script src="js/js-utils.min.js" defer></script>
    <script src="js/chrome.min.js" defer></script>
    <script src="js/components.min.js" defer></script>
    <script src="js/popup.min.js" defer></script>
    <title>行为菜单</title>
  </head>
  <body ng-controller="PopupCtrl">
    <input type="text" id="searchText" class="form-control" 
    ng-model="text" enter="defaultSearch()"/>
    <div class="btn-group">
      <button class="btn btn-sm"
      ng-repeat="b in btns" ng-click="search(b.id)" 
      ng-class="{true:'btn-primary',false:'btn-info'}[$first]" >
        {{ b.name }}
      </button>
    </div>
    <button target="_blank" class="btn btn-xs btn-success pull-right" ng-click="search('i_title')">
      <i class="glyphicon glyphicon-wrench"></i>
    </button>
  </body>
</html>

