<ion-header>
  <ion-toolbar color="primary">
    <ion-title translate>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-item lines="none">
      <ion-thumbnail slot="start">
        <ion-img src="/assets/icon/48.png"></ion-img>
      </ion-thumbnail>
      <ion-label translate>Context Menus</ion-label>
    </ion-item>
    <ion-card-content>
      <p>优秀的右键菜单扩展</p>
    </ion-card-content>
  </ion-card>
  <ion-list lines="none">
    <ion-list-header>
      <ion-label>资源</ion-label>
    </ion-list-header>
    <ion-item href="https://chrome.google.com/webstore/detail/phlfmkfpmphogkomddckmggcfpmfchpn/reviews">
      <ion-icon slot="start" color="medium" name="star"></ion-icon>
      <ion-label>评论</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
