<ion-header>
  <ion-toolbar color="primary">
    <ion-title translate>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>5.0.315</ion-card-subtitle>
      <ion-card-title>
        <ion-img src="/assets/icon/128.png" width="128" height="128"></ion-img>
        <ion-label translate>Context Menus</ion-label>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-label translate>优秀的右键菜单扩展</ion-label>
    </ion-card-content>
  </ion-card>

  <ion-list>
    <ion-list-header>
      <ion-label>资源</ion-label>
    </ion-list-header>
    <ion-item target="_blank" href="https://chrome.google.com/webstore/detail/phlfmkfpmphogkomddckmggcfpmfchpn/reviews">
      <ion-icon slot="start" name="chatboxes"></ion-icon>
      <ion-label>评论</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
