<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="primary">
      <ion-button (click)="menuService.edit()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title translate>
      Menus
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="3">
        <ion-list>
          <ion-list-header>
            <ion-label translate>菜单预览</ion-label>
          </ion-list-header>
          <ion-item-group *ngFor="let t of contextService.contexts">
            <ion-item-divider>
              <ion-icon slot="start" [name]="t.icon"></ion-icon>
              <ion-label translate>{{ t.name | titlecase }} Menu</ion-label>
              <ion-button fill="clear" slot="end" (click)="toggle(t)">
                <ion-icon slot="icon-only" [name]="t.open ? 'arrow-dropdown' : 'arrow-dropleft'"></ion-icon>
              </ion-button>
            </ion-item-divider>
            <ion-reorder-group *ngIf="t.open" disabled="false" (ionItemReorder)="reorderHandler($event, t.name)">
              <ion-reorder *ngFor="let m of preview(t.name)">
                <ion-item>
                  <ion-label>
                    {{ m.name ? m.name : m.id | translate }}
                  </ion-label>
                </ion-item>
              </ion-reorder>
            </ion-reorder-group>
          </ion-item-group>
        </ion-list>
      </ion-col>

      <ion-col size="12" size-sm="9">
        <ion-searchbar [(ngModel)]="search" placeholder="{{ 'Search' | translate }}"></ion-searchbar>
        <ion-chip *ngFor="let t of contextService.contexts" (click)="toggle(t)" [color]="t.open?'primary':''" outline>
          {{ t.name + ' Menu' | titlecase | translate }}
        </ion-chip>
        <ion-chip *ngFor="let t of menuService.contextTags" (click)="tagSet.has(t)?tagSet.delete(t):tagSet.add(t)"
          [color]="tagSet.has(t)?'tertiary':''">
          {{ t | translate }}
        </ion-chip>

        <ion-list>
          <ion-item *ngFor="let m of menus" (click)="menuService.edit(m)" button>
            <ion-toggle slot="start" [(ngModel)]="m.select" (click)="select($event)"></ion-toggle>
            <ion-icon [name]="contextService.icon(c)" *ngFor="let c of m.contexts" slot="start"></ion-icon>
            <ion-label>
              {{ m.name ? m.name : m.id | translate }}
            </ion-label>
            <ion-badge color="tertiary" *ngFor="let t of m.tags">
              {{ t | translate }}
            </ion-badge>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
