<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="secondary">
      <ion-button (click)="menuService.edit()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title translate>
      Menus
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button routerLink="/tabs/menu/page" routerLinkActive="active">
        <ion-icon slot="icon-only" name="list-box"></ion-icon>
      </ion-button>

      <ion-button routerLink="/tabs/menu/selection" routerLinkActive="active">
        <ion-icon slot="icon-only" name="crop"></ion-icon>
      </ion-button>

      <ion-button routerLink="/tabs/menu/image" routerLinkActive="active">
        <ion-icon slot="icon-only" name="image"></ion-icon>
      </ion-button>

      <ion-button routerLink="/tabs/menu/link" routerLinkActive="active">
        <ion-icon slot="icon-only" name="link"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <router-outlet></router-outlet>
</ion-content>
