<ion-header>
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button (click)="cancel()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      {{ title | translate }}
      {{ menu.name }}
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="save()">
        <ion-icon slot="icon-only" name="checkmark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label translate>Name</ion-label>
      <ion-input [(ngModel)]="menu.name" name="name"></ion-input>
    </ion-item>
    <ion-item *ngIf="isURL">
      <ion-label translate>URL</ion-label>
      <ion-input [(ngModel)]="menu.url" name="url"></ion-input>
    </ion-item>
    <ion-item *ngFor="let c of contextService.contexts">
      <ion-icon slot="start" [name]="c.icon"></ion-icon>
      <ion-label translate>{{c.name | titlecase }} Menu</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="menu[c.name]"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="pricetags"></ion-icon>
      <ion-label translate>Labels</ion-label>
      <ion-select [(ngModel)]="menu.tags" multiple="true" cancelText="{{ 'Cancel' | translate }}"
        okText="{{ 'Ok' | translate }}">
        <ion-select-option *ngFor="let t of contextService.tags" [value]="t">{{ t | translate }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="repeat"></ion-icon>
      <ion-label translate>Back</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="menu.back"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="nuclear"></ion-icon>
      <ion-label translate>Incognito</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="menu.incognito"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label translate>Select</ion-label>
      <ion-toggle slot="start" [(ngModel)]="menu.select" menu="select"></ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer *ngIf="title == 'Edit' && isURL">
  <ion-toolbar>
    <ion-button color="danger" expand="block" (click)="remove()">
      <ion-icon name="trash"></ion-icon>
      <ion-label translate>Delete</ion-label>
    </ion-button>
  </ion-toolbar>
</ion-footer>
