<ion-grid>
  <ion-row>
    <ion-col size="12" size-sm="3">
      <ion-list>
        <ion-list-header>
          <ion-label translate>{{ id | titlecase }} Menus</ion-label>
        </ion-list-header>
        <ion-reorder-group disabled="false" (ionItemReorder)="reorderHandler($event)">
          <ion-reorder *ngFor="let m of select()">
            <ion-item>
              <ion-label>
                {{ m.n ? m.n : m.c | translate }}
              </ion-label>
            </ion-item>
          </ion-reorder>
        </ion-reorder-group>
      </ion-list>
    </ion-col>
    <ion-col size="12" size-sm="9">
      <ng-container *ngFor="let t of types">
        <ion-list *ngIf="hasType(t)">
          <ion-list-header>
            <ion-label>{{ t | translate }}</ion-label>
          </ion-list-header>
          <ion-item *ngFor="let m of group(t)" (click)="menuService.edit(m)" button>
            <ion-toggle slot="start" [(ngModel)]="m.s" (click)="$event.stopPropagation()"></ion-toggle>
            <ion-label>
              {{ m.n ? m.n : m.c | translate }}
            </ion-label>
          </ion-item>
        </ion-list>
      </ng-container>
    </ion-col>
  </ion-row>
</ion-grid>
