<div class="container">
  <div id="overview" class="page-header">
    <h1>
      <img align="bottom" src="img/48.png"/>
      <span id="name">右键搜</span>
      <small>{{ ver }}</small>
    </h1>
    <blockquote>
    <span id="i_summary">做最优秀的右键菜单扩展程序</span>
    </blockquote>
  </div>
  <h2 id="i_info">介绍</h2>
  <div id="description" class="well well-large"></div>
  <h2 id="i_note">注意事项</h2>
  <ol>
    <li><span id="li1" class="text-info"></span></li>
    <li><span id="li2" class="text-info"></span></li>
    <li><span id="li3" class="text-info"></span></li>
    <li><span id="li4" class="text-info"></span></li>
  </ol>
</div><!-- container -->
