<div class="modal-header">
  <h3>{{ getI18n('i_share') }}</h3>
</div>
<div class="modal-body">
  <form name="formPut" class="form-horizontal">
    <div class="control-group">
      <label class="control-label" for="urlName">{{ getI18n('i_name') }}</label>
      <div class="controls">
        <input ng-model="name" id="urlName" ng-maxlength="200" ng-minlength="1" maxlength="200" type="text" class="span3" required=""/>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="urlUrl">{{ getI18n('i_url') }}</label>
      <div class="controls">
        <input ng-model="url" id="urlUrl" type="url" ng-maxlength="250" ng-minlength="7" maxlength="250" class="span3" required=""/>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="qr_size">{{ getI18n('i_language') }}</label>
      <div class="controls">
        <div class="btn-group">
          <button type="button" class="btn" ng-model="locale" btn-radio="'all'">{{ getI18n('i_all') }}</button>
          <button type="button" class="btn" ng-model="locale" btn-radio="'en'"><i class="en"></i></button>
          <button type="button" class="btn" ng-model="locale" btn-radio="'zh_CN'"><i class="zh_CN"></i></button>
          <button type="button" class="btn" ng-model="locale" btn-radio="'zh_TW'"><i class="zh_TW"></i></button>
          <button type="button" class="btn" ng-model="locale" btn-radio="'ru'"><i class="ru"></i></button>
        </div>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="urlTitle">{{ getI18n('t_title') }}</label>
      <div class="controls">
        <input ng-model="title" id="urlTitle" type="text" ng-maxlength="250" maxlength="250" class="span3" required=""/>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="nick">{{ getI18n('i_nick') }}</label>
      <div class="controls">
        <input ng-model="nick" id="nick" type="text" class="span3" required=""/>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button ng-click="close()" class="btn">{{ getI18n('i_close') }}</button>
  <button ng-click="put()" class="btn btn-primary">{{ getI18n('i_share') }}</button>
</div>
