<ion-header>
  <ion-toolbar color="primary">
    <ion-title translate>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-radio-group [(ngModel)]="language" name="language">
      <ion-list-header>
        <ion-label translate>Language</ion-label>
      </ion-list-header>

      <ion-item>
        <ion-label translate>English</ion-label>
        <ion-radio slot="start" value="en"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label translate>Simplified Chinese</ion-label>
        <ion-radio slot="start" value="zh_CN"></ion-radio>
      </ion-item>
    </ion-radio-group>

    <ion-item>
      <ion-range min="50" max="800" color="secondary" [(ngModel)]="storage.qrSize" name="qrSize">
        <ion-label slot="start" translate>Size of QR code</ion-label>
        <ion-label slot="end">{{ storage.qrSize }}</ion-label>
      </ion-range>
    </ion-item>
  </ion-list>
</ion-content>
